@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.font-title{
    font-family: 'Hedvig Letters Serif', serif;
}

.font-primary{
    font-family: 'Lato', sans-serif;
}

.lh-100 {
    line-height: 100%;
}

.lh-120{
    line-height: 120%;
}

.lh-130{
    line-height: 130% ;
}

p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

.text-blue{
    color: #2980b9 !important;
}

/* ===================================Button Class */
.btn-fill-white{
    background-color: #fff;
    color: #2980b9;
    padding: 10px;
    border-radius: 5px;
    padding: 20px;
    transition: .3s all;
}

.btn-fill-white:hover{
    background-color: #c0e6ff;
    color: #252525;
}

.btn-bordered{
    border: 1px solid #2980b9;
    color: #2980b9;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s all;
}

.btn-bordered:hover{
    background-color: #2980b9;
    color: #fff;
}

.btn-fill{
    background-color: #2980b9;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    transition: .3s all;
}

.btn-fill:hover{
    background-color: #1d5b84;
    color: #fff;
}

/* ================================================ */

body{
    background-color: #eee;
}

header{
    left: 0;
    right: 0;
    height: 5rem;
    background-color: cornflowerblue;
    /* z-index: 10; */
}

#hero-top-50{
    height: 45vh;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
}

#hero-top-50 .hero-cover{
    /* background: radial-gradient(100% 2589.12% at 0 0,rgba(0,40,19,.98) 0,rgba(0,32,39,.9) 100%); */
    background: rgb(37 37 37 / 50%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;

}

.breadcrumb-item.active{
    color: #fff !important;
}

.breadcrumb-item+.breadcrumb-item::before{
    font-family: FontAwesome;
    content: '\f105' ;
    color: #fff;
}

#content {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    margin-top: -10vh;
    padding: 2rem;
}

#content .box {
    background-color: #2980b9;
    color: #fff;
    border-radius: 1rem;
}

#content .img-wrapper{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 2;
    position: relative;
}

#content .img-wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.svg-1{
    top: -15%;
    left: -1%;
    z-index: 1;
}

.svg-2{
    top: 70%;
    left: -3%;
    z-index: 1;
}

.svg-3 {
    bottom: -25%;
    right: -6%;
}

.regular-slider .swiper-slide{
    border-radius: 10px;
    border: 1px solid #a5a5a5;
}

.regular-slider .swiper-slide i {
    background-color: whitesmoke;
    color: #bdbdbd;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 60px;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 100%;
}

.priority{
    background-color: #f9fafb;
    border-radius: 1rem;
}

.squere-item{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #DFE6F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.squere-item i {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #2980b9;
}

.squere-item p {
    line-height: 120%;
}

.contribution{
    background-color: #2980b9;
    color: #fff;
    border-radius: 1rem;
    height: 100%;
}

.contri-item{
    border: 1px solid #DFE6F0;
    border-radius: 10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;
}

.contri-item .header{
    color: #2980b9;
}

.contri-item .header i {
    font-size: 2rem;
}

@media only screen and (max-width : 576px){
    #content {
        padding: 1rem;
        width: 90vw;
    }

    .swiper-button-next:after, .swiper-button-prev:after{
        background: #2980b9;
        aspect-ratio: 1/1;
        height: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 70%;
        font-size: 1.2rem !important;
        font-weight: bold;
    }

    .swiper-pagination-fraction{
        top: 40% !important;
        text-align: center;
    }

    .priority .title {
        order: -1;
    }
}


/* ================================== Halaman Tentang Kaltara  */
#content-about {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    /* z-index: 1; */
    margin-top: -10vh;
    padding: 2rem;
}

#content-about aside{
    border: 1px solid #a5a5a5;
    /* width: 25%; */
    border-radius: 1rem;
    height: 100%;
}

#content-about .nav-link {
    color: #000 !important;
    padding-left: 30px;
    transition: .3s all;
}

#content-about .nav-link:hover{
    color: #2980b9 !important;
    /* font-weight: bold; */
    transition: .3s all;
}

#content-about .nav-link.active{
    color: #2980b9 !important;
    font-weight: bold;
}

#content-about .img-land-wrapper{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

#content-about .img-wide-wrapper{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 20 / 9;
    border-radius: 10px;
}

#content-about .img-land-wrapper img,
#content-about .img-wide-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover !important;
    object-position: center !important;
}

#content-about .img-port-wrapper{
    height: 100%;
    overflow: hidden;
    /* aspect-ratio: 0.5; */
    border-radius: 10px;
}

#content-about .img-port-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover !important;
    object-position: center !important;
}

.visi-list{
    display: flex;
    padding-bottom: 20px;
}


.visi-list span p {
    background-color: #2980b9;
    color: #fff;
    display: flex;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    line-height: 0;
}



/* ol.visi{
    list-style: none;
    padding-left: 0;
    counter-reset: steps;
}

ol.visi li{
    counter-increment: steps;
    padding-bottom: 20px;
}

ol.visi li::before{
    content: counter(steps);
    margin-right: 10px;
    background: #ff6f00;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 0;
} */

.lambang{
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}

.lambang .desc{
    margin-right: 10px;
}

.lambang img{
    width: 8vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.warna{
    height: 20px;
    width: 20px;
    border-radius: 60px;
    border: 1px solid #252525;
}

/* ----Tab Sejarah */
.time-line{
    display: flex;
    padding: 10px 0;
    border-radius: 10px;
    position: relative;
}

.time-line::after{
    content: '';
    height: 100%;
    width: 3px;
    background-color: #2980b9;
    display: block;
    position: absolute;
    top: 0;
    left: 5%;
}

.time-line:nth-child(2n){
    background-color: #f5f5f5;
}

.time-line:nth-child(2n)::after{
    content: unset;
}

.time-line .dot p {
    background-color: #2980b9;
    color: #fff;
    height: 70px;
    width: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    z-index: 1;
}

/* .time-line .dot::after{
    content: '';
    height: 100%;
    width: 3px;
    background-color: #2980b9;
    display: block;
    margin: -70px auto 0 auto;
} */

.leader{
    background-color: #2980b9;
    color: #fff;
    border-radius: 10px;
}

.leader .profile{
    background-color: #2470a2;
    border-radius: 10px;
    padding: 10px;
}

.leader .profile .name{
    margin: 20px 0;
}

.leader .profile .name p:nth-child(1){
    color: #acdeff;
}

.leader .profile img{
    height: 20vh;
    display: block;
    margin: 0 auto;
}

.modal-leader{
    height: 50vh;
}

.modal-leader .img-profil{
    height: 35vh;
    width: 100%;
    position: sticky;
    object-fit: contain;
    top: 0;
}

.struktur-img{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.struktur-img img{
    display: block;
    margin: 0 auto;
}

.inner-desc{
    background-color: whitesmoke;
    border-radius: 10px;
}

.search-bar form{
    display: flex;
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    padding: 5px 9px;
    align-items: center;
}

.search-bar form i{
    margin-right: 10px;
}

.search-bar form input{
    width: 100%;
    border: none !important;
}

.search-bar form input:focus{
    outline: none;
}

.search-bar form button{
    border: none;
    background-color: #2980b9;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
}

.list-type a {
    color: #252525;
    transition: .3s all;
}

.list-type a:hover{
    color: #2980b9;
}

.list-perangkat{
    list-style: none;
    padding: 0;
}

.list-perangkat li{
    margin-bottom: 15px;
}

.list-item{
    display: flex;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

.list-item .img{
    padding: 0 40px;
}

.list-item img{
    height: 10vh;
}

.list-item address{
    color: #a5a5a5;
}

.pagination{
    border-top: 2px solid #2980b9;
    padding-top: 5px;
}

.pagination div{
    width: 50%;
}

.pagination select{
    width: 25%;
}

.pagination a{
    color: #2980b9;
}



